/* Coolors Exported Palette - https://coolors.co/004e64-00a5cf-9fffcb-25a18e-7ae582 */

/* SCSS HEX */
$midnight-green: #004e64ff;
$pacific-cyan: #00a5cfff;
$aquamarine: #9fffcbff;
$persian-green: #25a18eff;
$light-green: #7ae582ff;

/* SCSS HSL */
$midnight-green: hsla(193, 100%, 20%, 1);
$pacific-cyan: hsla(192, 100%, 41%, 1);
$aquamarine: hsla(147, 100%, 81%, 1);
$persian-green: hsla(171, 63%, 39%, 1);
$light-green: hsla(124, 67%, 69%, 1);

/* SCSS RGB */
$midnight-green: rgba(0, 78, 100, 1);
$pacific-cyan: rgba(0, 165, 207, 1);
$aquamarine: rgba(159, 255, 203, 1);
$persian-green: rgba(37, 161, 142, 1);
$light-green: rgba(122, 229, 130, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #004e64ff, #00a5cfff, #9fffcbff, #25a18eff, #7ae582ff);
$gradient-right: linear-gradient(90deg, #004e64ff, #00a5cfff, #9fffcbff, #25a18eff, #7ae582ff);
$gradient-bottom: linear-gradient(180deg, #004e64ff, #00a5cfff, #9fffcbff, #25a18eff, #7ae582ff);
$gradient-left: linear-gradient(270deg, #004e64ff, #00a5cfff, #9fffcbff, #25a18eff, #7ae582ff);
$gradient-top-right: linear-gradient(45deg, #004e64ff, #00a5cfff, #9fffcbff, #25a18eff, #7ae582ff);
$gradient-bottom-right: linear-gradient(135deg, #004e64ff, #00a5cfff, #9fffcbff, #25a18eff, #7ae582ff);
$gradient-top-left: linear-gradient(225deg, #004e64ff, #00a5cfff, #9fffcbff, #25a18eff, #7ae582ff);
$gradient-bottom-left: linear-gradient(315deg, #004e64ff, #00a5cfff, #9fffcbff, #25a18eff, #7ae582ff);
$gradient-radial: radial-gradient(#004e64ff, #00a5cfff, #9fffcbff, #25a18eff, #7ae582ff);